In [64]:
import os, glob
import pandas as pd

path = "/Users/tanvirislamullash/Downloads/data_csgo "

all_files = glob.glob(os.path.join(path, "data_file*.csv"))
df_from_each_file = (pd.read_csv(f, sep=',') for f in all_files)
df_merged   = pd.concat(df_from_each_file, ignore_index=True)
df_merged.to_csv( "merged.csv")

ValueError: No objects to concatenate

In [65]:
import os
import glob
import pandas as pd
os.chdir("/Users/tanvirislamullash/Downloads/data_csgo")

In [66]:
extension = 'csv'
all_filenames = [i for i in glob.glob('data_file*.{}'.format(extension))]
#combine all files in the list
combined_csv = pd.concat([pd.read_csv(f) for f in all_filenames ])
#export to csv
combined_csv.to_csv( "combined_csv.csv", index=False, encoding='utf-8-sig')

In [67]:
df=pd.read_csv('combined_csv.csv')
df.head()

,Team1,Team2,Best Of,m1t1,m1t2,m2t1,m2t2,m3t1,m3t2,t1_removed_1,t2_removed_1,t1_picked_1,t2_picked_1,t1_removed_2,t2_removed_2,left_over
0,Copenhagen Flames,HAVU,Best of 3 (Online),5,16,14,16,-,-,Vertigo,Dust2,Train,Overpass,Inferno,Mirage,Nuke
1,Bizarre,Dynasty,Best of 3 (Online),16,7,16,3,-,-,Mirage,Inferno,Train,Vertigo,Overpass,Dust2,Nuke
2,mousesports,SKADE,Best of 3 (Online),19,17,16,6,-,-,Vertigo,Overpass,Mirage,Nuke,Dust2,Inferno,Train
3,SAW,K23,Best of 3 (Online),10,16,10,16,-,-,Overpass,Vertigo,Nuke,Dust2,Mirage,Train,Inferno
4,Renewal,Wings Up,Best of 3 (Online),16,12,4,16,16,9,Mirage,Vertigo,Nuke,Dust2,Inferno,Overpass,Train

In [79]:
dfc=df.copy()

In [80]:
columns = ['m2t1', 'm2t2', 'm3t1', 'm3t2']

for column in columns:

    dfc[column] = dfc[column].replace({'-':0})
    dfc[column].fillna(0.0, inplace=True)
    dfc[column].dtype
    dfc[column] = dfc[column].astype(float)

In [81]:
for column in columns:
    print(dfc[column].dtype)

float64
float64
float64
float64

In [82]:
dfc['result_1'] = dfc['m1t1']+dfc['m2t1']+dfc['m3t1']
dfc['result_2'] = dfc['m1t2']+dfc['m2t2']+dfc['m3t2']

In [102]:
dfc.head()

,Team1,Team2,Best Of,m1t1,m1t2,m2t1,m2t2,m3t1,m3t2,t1_removed_1,t2_removed_1,t1_picked_1,t2_picked_1,t1_removed_2,t2_removed_2,left_over,result_1,result_2,match_winner
0,Copenhagen Flames,HAVU,Best of 3 (Online),5,16,14.0,16.0,0.0,0.0,Vertigo,Dust2,Train,Overpass,Inferno,Mirage,Nuke,19.0,32.0,2
1,Bizarre,Dynasty,Best of 3 (Online),16,7,16.0,3.0,0.0,0.0,Mirage,Inferno,Train,Vertigo,Overpass,Dust2,Nuke,32.0,10.0,1
2,mousesports,SKADE,Best of 3 (Online),19,17,16.0,6.0,0.0,0.0,Vertigo,Overpass,Mirage,Nuke,Dust2,Inferno,Train,35.0,23.0,1
3,SAW,K23,Best of 3 (Online),10,16,10.0,16.0,0.0,0.0,Overpass,Vertigo,Nuke,Dust2,Mirage,Train,Inferno,20.0,32.0,2
4,Renewal,Wings Up,Best of 3 (Online),16,12,4.0,16.0,16.0,9.0,Mirage,Vertigo,Nuke,Dust2,Inferno,Overpass,Train,36.0,37.0,2

In [87]:
result_1 = list(dfc['result_1'])
result_2 = list(dfc['result_2'])
winner =[]

for i in range(len(dfc)):
    if result_1[i]>result_2[i]:
        winner.append(1)
    else:
        winner.append(2)

In [89]:
dfc['match_winner'] = winner

In [91]:
dfc.to_csv('/Users/tanvirislamullash/Downloads/data_csgo/combined_csv.csv')

In [98]:
teams = set(list(dfc['Team1'])+list(dfc['Team2']))

In [99]:
len(teams)

372

In [100]:
team_ranks = {}
for team in teams:
    team_ranks.update({team: 0})

In [ ]:
from sklearn.ensemble import RandomForestClassifier

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

clf = RandomForestClassifier(max_depth=10)
clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)
score = clf.score(X_test, y_test)
score

In [104]:
import os, glob
import pandas as pd

path = "/Users/tanvirislamullash/Downloads/data_csgo "
f1 = pd.read_csv('/Users/tanvirislamullash/Downloads/data_csgo/team_data_file0.csv')
f2 = pd.read_csv('/Users/tanvirislamullash/Downloads/data_csgo/team_data_file100.csv')

In [106]:
df_merged   = pd.concat((f1,f2), ignore_index=True)

In [108]:
df_merged.to_csv('/Users/tanvirislamullash/Downloads/data_csgo/team_data_file_all.csv')

In [109]:
df = pd.read_csv('/Users/tanvirislamullash/Downloads/data_csgo/team_data_file_all.csv')

In [113]:
df[['Team Name', 'World Rank']]

        Team Name  World Rank
0             x13       125.0
1    third-impact        84.0
2            ence        27.0
3        endpoint        30.0
4          offset       113.0
..            ...         ...
378       catevil         NaN
379     checkmate       165.0
380     mad-lions        77.0
381     ec-brugge       104.0
382           tpt       219.0

[383 rows x 2 columns]

In [114]:
df1 = pd.read_csv('combined_csv.csv')

In [155]:
df1['Team1'] = df1['Team1'].apply(lambda x:x.lower())
df1['Team2'] = df1['Team2'].apply(lambda x:x.lower())

rank_1, rank_2 = [], []

for team in list(df1['Team1']):
    try:
        rank_1.append(ranks[team])
    except:
        rank_1.append(0)

for team in list(df1['Team2']):
    try:
        rank_2.append(ranks[team])
    except:
        rank_2.append(0)

In [158]:
df1['rank_1'] = rank_1
df1['rank_2'] = rank_2

In [160]:
df1.to_csv('combined_csv.csv')

## Rank dictionary update

In [147]:
import json

with open('team_ranks.json', 'r') as f:
    ranks = json.load(f)
    
print(len(ranks))
a = {}
for team in list(df['Team Name']):
    try:
        a.update({team: int(list(df[df['Team Name']==team]['World Rank'])[0])})
    except:
        a.update({team: 0})

1546

In [150]:
ranks.update(a)
len(ranks)

1623

In [151]:
with open('team_ranks.json', 'w') as f:
    json.dump(ranks, f)